services:
  backend:
    build: .
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/filedb
      SPRING_DATASOURCE_USERNAME: fileuser
      SPRING_DATASOURCE_PASSWORD: 12345
      FILE_STORAGE_LOCATION: /uploads
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - uploads:/uploads
    user: root
    command: sh -c "mkdir -p /uploads && chown -R appuser:appuser /uploads"

  db:
    image: postgres:15
    restart: always
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./db/init:/docker-entrypoint-initdb.d
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: filedb
    expose:
      - "5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U fileuser -d filedb"]
      interval: 10s
      timeout: 5s
      retries: 5

  frontend:
    build:
      context: ./Frontend/my-app
      dockerfile: Dockerfile
    environment:
      NODE_ENV: production
    ports:
      - 3000:3000
    depends_on:
      db:
        condition: service_healthy


volumes:
  db-data:
  uploads:



