html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: space-between; /* Заголовок слева, кнопка справа */
    align-items: center;
    margin-bottom: 20px;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #0078d7;
    color: white;
}

header h1 {
    margin: 0;
}

header button {
    background-color: white;
    color: #0078d7;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.profile-button {
    margin-left: auto;
}