
h1 {
    margin-bottom: 10px;
}

.actions button {
    background-color: #0078d7;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 8px 0 8px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.actions button:hover {
    background-color: #005fa3;
}
